 form{  
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

 form div{
    width: 80%;
    font-family: sans-serif;
    color:  rgb(50, 0, 66);
   
} 

label[for=casa],label[for=departamento]
,label[for=propietario],label[for=inquilino],label[for=si]
,label[for=no],label[for=noalquilo],label[for=perro]
,label[for=gato],label[for=simascota],label[for=nomascota]{
color: black;

}
 #nombre,#apellido,#email,#numero,#telefono,#direccion,#localidad,#provincia,#edades{
    padding: 1% 20% 1% 1%; 
    border-radius: 0.3vw;
    /*border: none;*/
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow:  2px 4px 2px rgba(0, 0, 0, 0.25);
   
}
textarea {
    resize: none;
}
#doc,#hs,#cerramientos,#castracion{
    padding: 1% 0 ;
    border-radius: 0.3vw;
    border: none;
}

input[type=reset]{
background-color: rgb(150, 150, 150);
color:black;
border-radius: 0.5vw;
border: none;
padding: 1em 2em;
cursor: pointer;
width: 200px;
}
input[type=submit]{
    width: 200px;
    background-color: #46be12;
    color:black;
    border-radius: 0.5vw;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 20px;
    }
