
@media (min-width: 1025px){



* {
    margin: 0;
    padding: 0;
}

.container-card {
width: 100%;
max-width: 1200px;
box-sizing: content-box;
display: flex;

border-radius: 5px;
justify-content: center;
flex-wrap: wrap;
margin: auto;
margin-top: 0;
padding: 10px;
}

.card {
    width: 250px;
    height: auto;
    box-sizing: content-box;
    text-align: center;
    margin: 15px;
    background: white;
    border-radius: 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
    overflow: hidden;
}

.card img {
    width: 250px;
    height: 140px;
    max-width: 100%;
}

.card h2 {
    font-family:Raleway;
    font-size: 17px;
}

.card p {
    font-family: Raleway;
    padding: 10px;
    font-size: 11px;
}

.card a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    
}

.card a:hover {
    
    background-color: #FFA500;
    border-radius: 0 0 0 10px;
    text-align: center;
    color: white;
    margin: 0 ;
}
#colunm {
    column-count: 2;
    column-gap: 13px;
    font-size: 14px;
    text-align: center;
    list-style: none;
    padding: 10px;
    column-rule: 4px dotted gray;
    color: gray;
}
span {
    font-weight: bold;
    color: #ff8000;
}

.a-adoptar{
    display: block;
    background-color: #6ABD45;
    
}

}

@media (max-width: 768px) {
    .container-card {
      max-width: 100%; /* Cambiamos el ancho máximo al 100% */
      display: block; /* Cambiamos a bloque para que las cards se apilen una encima de la otra */
      margin: 0; /* Eliminamos el margen para aprovechar el espacio de la pantalla */
    }
  
    .card {
      width: 100%;
      /*Cambiamoselanchodelascardsal100%*/margin: 0 auto;
      /*Centramoslascardshorizontalmente*/margin-bottom: 20px;
      /*Agregamosunmargeninferiorparasepararlascards*/background: white;
      /*Mantenemoselfondoblanco*/border-radius: 20px;
      /*Mantenemoselborderedondeado*/box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
       /* Mantenemos la sombra */    :;
      -webkit-border-radius: 0 20px;
      -moz-border-radius: 0 20px;
      -ms-border-radius: 0 20px;
      -o-border-radius: 0 20px;
}
  
    .card img {
      width: 100%; /* El ancho de la imagen al 100% */
      height: auto; /* Mantenemos la proporción original */
    }
  
    .card h2 {
      font-size: 17px; /* Mantenemos el tamaño de la fuente original */
      display: flex;
      justify-content: center;
    }
  
    .card p {
      font-size: 11px; /* Mantenemos el tamaño de la fuente original para el texto */
    }
  
    .card a {
      font-size: 1.1rem; /* Restablecemos el tamaño de fuente del enlace */
    }
  
    #colunm {
      column-count: 1; /* Cambiamos a una sola columna para dispositivos móviles */
      column-gap: 0; /* Eliminamos el espacio entre columnas */
      font-size: 14px; /* Mantenemos el tamaño de fuente original */
      text-align: center; /* Centramos el contenido en dispositivos móviles */
      list-style: none; /* Eliminamos la lista puntada */
      padding: 10px; /* Mantenemos el relleno */
      column-rule: none; /* Eliminamos la regla entre columnas */
      color: gray; /* Mantenemos el color de texto original */
    }

    span {
        font-weight: bold;
        color: #ff8000;
    }
    
    .a-adoptar{
        display: flex;
        background-color: #6ABD45;
        text-decoration: none;
        color: white;
        justify-content: center;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}

@media (max-width: 768px){
  
* {
  margin: 0;
  padding: 0;
}

.container-card {
width: 100%;
max-width: 1200px;
box-sizing: content-box;
display: flex;

border-radius: 5px;
justify-content: center;
flex-wrap: wrap;
margin: auto;
margin-top: 0;
padding: 10px;
}

.card {
  width: 250px;
  height: auto;
  box-sizing: content-box;
  text-align: center;
  margin: 15px;
  background: white;
  border-radius: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 2);
  overflow: hidden;
}

.card img {
  width: 250px;
  height: 140px;
  max-width: 100%;
}

.card h2 {
  font-family:Raleway;
  font-size: 17px;
}

.card p {
  font-family: Raleway;
  padding: 10px;
  font-size: 11px;
}

.card a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  
}

.card a:hover {
  
  background-color: #FFA500;
  border-radius: 0 0 0 10px;
  text-align: center;
  color: white;
  margin: 0 ;
}
#colunm {
  column-count: 2;
  column-gap: 13px;
  font-size: 14px;
  text-align: center;
  list-style: none;
  padding: 10px;
  column-rule: 4px dotted gray;
  color: gray;
}
span {
  font-weight: bold;
  color: #ff8000;
}

.a-adoptar{
  display: block;
  background-color: #6ABD45;
  
}

}

