* {
    margin: 0;
    padding: 0;
}

.container-card {
width: 100%;
max-width: 1200px;
box-sizing: content-box;
display: flex;

border-radius: 5px;
justify-content: center;
flex-wrap: wrap;
margin: auto;
margin-top: 0;
padding: 10px;
}

.card {
    width: 250px;
    height: auto;
    box-sizing: content-box;
    text-align: center;
    margin: 15px;
    background: white;
    border-radius: 0 20px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card img {
    width: 250px;
    height: 140px;
    max-width: 100%;
}

.card h2 {
    font-family:Raleway;
    font-size: 17px;
}

.card p {
    font-family: Raleway;
    padding: 10px;
    font-size: 11px;
}

.card a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
    
}

.card a:hover {
    display: block;
    background: antiquewhite;
    border-radius: 0 0 0 10px;
    
    color: gray;
    margin: 0 ;
}
#colunm {
    column-count: 2;
    column-gap: 13px;
    font-size: 14px;
    text-align: left;
    list-style: none;
    padding: 10px;
    column-rule: 4px dotted gray;
    color: gray;
}
span {
    font-weight: bold;
    color: red;
}