.suscribite h2{
    background-color: gray;
    text-align: center;
  }
  .suscribite {
  background-color: white;
  text-align: center;
  border: black solid 0.2vh;
  margin: 5px ;
  }
  .suscribite input{
    margin: 10px;
   
  }
  .suscribite h2{
    margin: 0 0 10px 0;
  }
  input[type=submit]{
    border-radius: 0.5vw;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 20px;
   
  }
  