.suscribite h2{
    background-color: #6ABD45;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .suscribite {
  background-color: white;
  text-align: center;
  /*border: black solid 0.2vh;*/
  margin: 5px ;
  }
  .suscribite input{
    margin: 5px;
   
  }
  /*.suscribite h2{
    
  }*/
  input[type=submit]{
    border-radius: 5px;
    border: none;
    padding: 0.5em 5em;
    cursor: pointer;
    margin: 5px 10px;
    font-weight: bold;
   
  }
  