/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff9ff;
  }*/
  

  @media (min-width: 1025px){

  

  .container-perros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
  }

    .vote-title-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  #fotoPrincipalContainer,
  #fotoPrincipalContainer img {
    height: 30em;
    display: flex;
    justify-content: center;
  }
  
  #spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 180px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #botonesContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  
  button {
      font-size: xx-large;
      background-color: rgb(0, 62, 218);
      padding: 0.5rem;
      margin: 0.5em;
      transition: 100ms ease-in-out;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}
  
  button:hover {
      transform: scale(1.1);
  }
  
  #like:hover {
      background-color: #00ff2a23;
  }
  
  #dislike:hover {
      background-color: #a4010123;
  }
  
  .perrosContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border-radius: 50px;
    max-width: 70vw;
    margin: 10px 0;
  }
  
  .perrosContainer img {
    max-height: 100px;
    margin-right: 5px;
  }
  
  #perrosLikeContainer {
    background-color: #00ff2a23;
  }
  
  #perrosDislikeContainer {
    background-color: #ff000023;
  }
  
  .escondido {
    display: none;
  }


  .vote-main{
    display: flex;
    flex-direction: column;
  }
  
  .vote-wrapper{
    width: 100%;
    height: 25rem;
    background-image: url(../img/doge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vote-wrapper-left{
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    align-items: center;
    
  }
  
  .vote-wrapper-right{
    width: 50%;
  }
  
  .vote-img-logo{
    width: 3em;
    height: 2em;
  }
}


@media (max-width: 768px){
  .container-perros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }

    .vote-title-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .vote-title-container h3{
     text-align: center;
    }
  
  #fotoPrincipalContainer,
  #fotoPrincipalContainer img {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    object-fit: contain;
  }
  
  #spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-top: 5rem;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  #botonesContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 10px 0;
  }
  
  button {
      margin-right: 5px;
      color: white;
      font-size: small;
      background-color: rgb(0, 62, 218);
      transition: 100ms ease-in-out;
      padding: 3px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
}
  
  button:hover {
      transform: scale(1.1);
  }
  
  #like:hover {
      background-color: #00ff2a23;
  }
  
  #dislike:hover {
      background-color: #a4010123;
  }
  
  .perrosContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    border-radius: 50px;
    max-width: 70vw;
    margin: 10px 0;
  }
  
  .perrosContainer img {
    max-height: 100px;
    margin-right: 5px;
  }
  
  #perrosLikeContainer {
    background-color: #00ff2a23;
  }
  
  #perrosDislikeContainer {
    background-color: #ff000023;
  }
  
  .escondido {
    display: none;
  }


  .vote-main{
    display: flex;
    flex-direction: column;
  }
  
  .vote-wrapper{
    width: 100%;
    height: 25rem;
    background-image: url(../img/doge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vote-wrapper-left{
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
    
  }
  
  .vote-wrapper-right{
    width: 100%;
  }
  
  .vote-img-logo{
    width: 3em;
    height: 2em;
  }

}