@media (min-width: 1025px){


.side-left {
    background-color: #ffdcb8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    align-items: center;
  }

.side-left-img {
    width: 12vw;
    height: 24vh;
    padding: 3px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

}

@media (max-width: 768px){
  .side-left{
    display: none;
  }
}