* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #6ABD45;
    padding: 0.5rem;
}
.cabecera {
    position: relative;
    text-align: right; /* Alinea el contenido a la derecha */
    font-family: 'Raleway';
   
   
}

.cabecera p {
   display: inline;
   margin: 0 10px;
   cursor: pointer;
}
.cabecera p:hover {
    color: white;
    border-bottom: 3px solid;
    border-color: black;
    font-weight: bold;
}
.logo {
    max-width: 10rem;
}

.menu-list {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}
.menu-list li a {

    font-family: 'Raleway';
    text-decoration: none;
    color: black;
}
.menu-list a:hover {
    color: white;
    border-bottom: 3px solid;
    border-color: black;
    font-weight: bold;
}
.active {
    border-bottom: 2px solid;
    
}
.abrir-menu,
.cerrar-menu {
    display: none;
}

.login-popup {
    position: fixed;
    top: 5%;
    right: 15%;
    transform: translate(-50%);
    background-color: white;
    padding: 20px;
    /*box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);*/
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: none; /* Oculto por defecto */
    opacity: 0;
    transition: opacity 0.5s ease;
}
.login-popup.visible {
    display: block;
    opacity: 1;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


.form-content input[type="text"],
.form-content input[type="email"],
.form-content input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-content button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.form-content button:hover {
    background-color: #0056b3;
}

.form-content p {
    color: #007bff;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}

.form-content p:hover {
    text-decoration: underline;
}

.login-popup form {
    display: flex;
    flex-direction: column;
}

.login-popup input[type="text"], .login-popup input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#registerTitle {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

#loginTitle {
    padding: 10px;
    text-align: center;
    font-family: sans-serif;
}

.login-popup button {
    padding: 10px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-popup button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 576px){
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }
    * {
        margin: 0;
    }
    .menu {
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: orange;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3)

    }
    .menu.visible {
        opacity: 1;
        visibility: visible;
    }
    .menu-list {
        flex-direction: column;
        align-items: end;
    }
}
    
