.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  transition: transform 0.1s ease;
}

.slide {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  height: 350px; /* Ajusta esto según sea necesario */
  position: relative;
}

.text {
  width: 40%;
  position: absolute;
  bottom: 10px;
  left: 5rem;
  color: white;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  /*margin-right: 20%;*/
  font-family: 'Raleway';
}
.text p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.btn-contact {
  background-color: orange;
  color: black;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.btn-contact a:hover {
  background-color: brown;
  color: white;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  color: white;
  font-size: 1.5rem;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

@media screen and (max-width: 550px) {

  .slide {
    min-width: 100%;
    background-size: cover;
    background-position: center;
    height: 200px; /* Ajusta esto según sea necesario */
    position: relative;
  }
  .text {
    width: 80%;
    left: 2rem;
  }
  .text h1 {
    font-size: 1rem;
  }
  .text p {
    font-size: 0.7rem;
  }
  .btn-contact {
    background-color: orange;
    color: black;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    text-decoration: none;
    font-size: 1rem;
  }
  
}